*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: rgba(219, 255, 219, 0.411);
}
:root{
    --primary-color: #658C58;
    --secodary-color: #31694E;
    --tertiary-color: #BBC863;
    --basic-color: #F0E491;
    --text-color: #FFFF;
    --null-color: #684e4e00;
}

/* header section starts */

.header{ 
    display: flex;
    padding: 10px;
    background-color: var(--back-color);
}
.header .logo{
    text-align: left;
    display: flex;
    padding-left: 20px;
}

.header .logo h1{
    gap: 20px;
}

.header .nav{
    display: flex;
    padding-left: 550px;
    padding-top: 10px;
    gap: 30px;
}

.header .nav a{
   color: var(--black-color);   
   text-decoration: none;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
   ;
}

.header .nav a:hover{
    color: var(--primary-color);
    text-decoration: underline;
    transform: scale(1.05);
    animation: forwards;
}

/* header section ends */

/* hero section starts */

.hero{
    background-image: url(tree1\ \(8\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    padding: 130px;   
}

.hero-text{
    text-align: center;
}

.hero-text h1{
    padding-top: 70px;
    color: var(--text-color);
}
.hero-text b{
    color: rgba(9, 255, 120, 0.849);
}

.hero-text p{
    margin: 30px;
    padding-left: 50px;
    color: var(--text-color);
}

.hero .btn a{
    color: var(--secondary-color);
    text-decoration: none;
}

.hero .btn{
    background-color: var(--text-color);
    border-radius: 20px;
    border: none;
    outline: none;
    height: 25px;
    width: 180px;
}

.hero .btn:hover{
    transform: scale(1.09);
}
/* hero section ends */


/*why section starts */
.why{
    padding: 50px;
}

.why img{
    border-radius: 20px;  
}

.why h1{
    padding: 20px;
    text-align: center;
    color: var(--secodary-color);
}

.why .text{
    padding-top: 60px;
    display: block;
}

.why1{
    display: flex;
    gap: 40px;
    padding: 40px;
    background-color: rgba(255, 223, 223, 0.2) ;
    margin-bottom: 20px;
    border-radius: 20px;
}

.why2{
    gap: 40px;
    padding: 40px;
    background-color: rgba(219, 255, 219, 0.699);
    margin-bottom: 20px;
    border-radius: 20px;
}

.why2 .text{
    padding-bottom: 85px;
}

.why2 img{
   float: right;
}
/*why section ends */



.before-after-one{
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.before-after-two{
    display: flex;
}


/* how section starts */

.how{
    margin: 100px;
}

.how h1{
    text-align: center;
    padding-bottom: 40px;
}

.how123{
    display: flex;
    gap: 80px;
    justify-content: center;
}

.how1 ,.how2, .how3,.how4,.how5{
    border: 1px solid;
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 350px;
    text-align: left;
    background-color: var(--text-color);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.how1 img,.how2 img,.how3 img,.how4 img,.how5 img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.how1 .text,.how2 .text,.how3 .text,.how4 .text,.how5 .text{
    padding: 10px;
}

.how45{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-top: 40px;
}
/* how section ends */

.pledge{
    height: 90vh; 
    margin: 70px;
    padding-top: 50px;  
}

.pledge-count{
    border: none;  
    width: 500px;
    height: 500px;
    padding: 20px;
    background-color: var(--back-color);
    box-shadow: 14px 14px 14px rgba(0, 0, 0, 0.3);
    margin: 20px 0px 50px 150px;
    text-align: center;
    border-radius: 10px;
}

.pledge-count:hover{
    transform: scale(1.01);
}


.pledge-count h1{
    font-size: 50px;
}

.pledge-count p{
    font-size: 60px;
    
}

.pledge-count .btn{
    margin-top: 30px;
    background-color: var(--tertiary-color);
    width: 15vw;
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.pledge-count .btn:hover{
    transform: scale(1.09);
}

.pledge img{
    float: right;
    margin-right: 50px;
    border-radius: 10px;
}
/* contact section starts */
.contact-us{
    display: flex;
    gap: 100px;
    padding-top: 50px;
    height: 85vh;
}

.contact-text{
    height: 65vh;
    color: var(--secondary-color);
    padding-top: 40px;
    margin: 10px 0 0 200px;
}

.contact-text h2{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bolder;
}

.contact h4{
   padding-top: 40px;
}

.contact{
    background-color: var(--secondary-color);
    border: 3px solid var(--primary-color);
    width: 30%;
    height: 65vh;
    border-radius: 20px;
    margin: 10px ;
    padding: 20px;
}

label{
    text-align: left;
    float: left;
    margin-bottom: 5px;
}

input{
    border: 1px solid var(--tertiary-color);
    width: 350px;
    height: 35px;
    margin-bottom: 15px;
    outline: none;
}

input:hover ,textarea:hover{
    color: var(--black-color);
}

input:hover ::placeholder{
    color: var(--text-color);
}

textarea{
    width: 350px;
    height: 150px;
    resize: none;
    outline: none;
    border: 1px solid var(--tertiary-color);
}

#btn{
    margin-top: 10px;
    float: right;
    border: 1px solid var(--tertiary-color);
    color: var(--text-color);
    font-weight: 1000;
    font-size: 15px;
    background-color: var(--tertiary-color);
    width: 100px;
    height: 40px;
    cursor: pointer;
}

#btn:hover{
    background-color: var(--secondary-color);
    color: var(---color);
    transform: scale(1.05);
}
/* contact section ends */
.footer{
    background-color: var(--secodary-color);
    padding: 50px;
    color: var(--text-color);
    text-align: center;
    display: flex;    
    padding: 30px 100px;
    gap: 150px;
}

.footer h1{
    font-size: 40px;
}

.footer a{
    color: var(--tertiary-color);
    text-decoration: none;
}
.logo-foot{
    padding-top: 40px;
}
.icon a{
    display: flex;
}
.Copyright a{
    display: block;
    color: var(--text-color);
    text-decoration: none;
}

.quicklinks{
    display: block;
    gap: 30px;
}

.link a{
    display: block;
    text-align: left;
    padding: 5px;
    
}
.reserved{
    background-color: var(--secodary-color);
    text-align: center;
    padding-bottom: 20px;
}