*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --primary-color: #658C58;
    --secondary-color: #31694E;
    --tertiary-color: #BBC863;
    --basic-color: #F0E491;
    --text-color: #FFFF;
    --null-color: #0000;
    --back-color: rgba(219, 255, 219, 0.699);
}
a{
    text-decoration: none;
}

.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    color: whitesmoke;
    display: none;
}

.line{
    width: 150px;
    height: 5px;
    background-color: var(--secondary-color) ;
    border-radius: 20px;
    margin: 0 auto;
}

.title{
    text-align: center;
    font-size: 4vmin;
    margin-top: 50px;
    padding-bottom: 50px;
} 

.title h1{
    color: var(--secondary-color);
    padding-bottom: 10px;
}

/* navbar */
.nav-bar{
    position: absolute;
    margin-top: 0;       
    margin-left: 0; 
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    align-items: center;
}
.nav-links a{
    color: whitesmoke;
    margin: 0 30px;
}
.hero{
    background-image: linear-gradient(rgb(0,0,0,0.4),
    rgb(139,134,134,0)) ,url(tree1\ \(2\).jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: bottom;    
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-text{
    margin-bottom: 60px;
    color: whitesmoke;
    text-align: center;
}

.hero-text h1{
    font-size: 7vmin;
}

.hero-text h4{
    font-size: 4vmin;
    margin-top: 30px;
    margin-bottom: 40px;
}

.btn{
    background-color: var(--secondary-color);
    padding: 10px;
    color: whitesmoke;
    border-radius: 20px;
}

/* why */
.why{
    width: 80%;
    margin: 80px auto;
}


.why-1{
    display: flex;
    gap: 40px;
    padding: 60px;
    background-color: rgba(241, 217, 217, 0.11) ;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 10px,5px,5px,5px rgba( 0,0,0, 0.1);
}

.why-1 .text{
    align-items: center;
    text-align: left;
    padding: 80px;
}

.why-1 img{
    border-radius: 20px;
}

.img{
    display: flex;
}

/* Gallary section starts */

.image{
    margin: 0 350px;
    padding-bottom: 100px;
}
img:hover{
    transform: scale(1.04);
}
.img-1{
    display: flex;    
    flex-wrap: wrap;
    gap: 20px;
}
.img-2{
    padding-top: 10px;
} 
/* Gallary section starts */

/* pledge section starts */
.pledge{ 
    display: flex;
    justify-content: center;
    align-items: center; 
}
.pledge :hover{
    transform: scale(1.05); 
}

.pledge-count{
    border: none;  
    width: 500px;
    height: 450px;
    padding: 20px;
    background-color: var(--back-color);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 10px;
}

.pledge-count h1{
    color: var(--secondary-color);
    font-size: 6vmin;
    padding: 20px;
}

.pledge-count h3{
    color: var(--black-color);
    font-size: 3vmin;
    padding: 20px;
}

.pledge-count p{
    font-size: 7vmin;
    color: var(--secondary-color);
    padding: 10px;
}

.pledge-count .btn{
    margin-top: 20px;
    outline: none;
    border: none;
    cursor: pointer;
}

.pledge-count .btn:hover{
    transform: rotate(5deg);
}
/* pledge section ends */

/* Step section starts */

.step{
    width: 70%;
    margin: 80px auto; 
}
.how{
    display: flex;
    align-items: center;
    justify-content: space-between;    
    width: 100%;
}

.how-2{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;   
}
.how-1{
    border: 1px solid;
    border: none;
    border-radius: 20px;
    width: 250px;
    height: 350px;
    text-align: left;
    background-color: var(--text-color);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.how-1 .text{
    text-align: center;
    padding: 5px;
}
.how-1 img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/* Step section ends */

/* contact section starts */
.contact-us{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}   

.contact-text h2{
    padding-bottom: 40px;
    font-size: 5vmin;
    font-weight: bolder;
}

.contact-text h4{
   font-size: 3vmin;
}

.contact{
    border: 3px solid var(--primary-color);
    width: min-content;
    height: min-content;
    border-radius: 20px;
    padding: 40px 20px 20px 20px;
    margin: 40px;
    gap: 10px;
}

label{
    text-align: left;
    float: left;
    margin-bottom: 10px;
}

input{
    border: 1px solid var(--secondary-color);
    width: 350px;
    height: 35px;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
}

textarea{
    width: 350px;
    height: 150px;
    resize: none;
    outline: none;
    padding: 10px;
    border: 1px solid var(--secondary-color);
}

#btn{
    margin-top: 10px;
    float: right;
    outline: none;
    border: none;
    color: var(--text-color);
    font-weight: 1000;
    font-size: 15px;
    background-color: var(--secondary-color);
    width: 100px;
    height: 40px;
    cursor: pointer;
}

#btn:hover{
    background-color: var(--secondary-color);
    color: var(--basic-color);
    transform: scale(1.05);
}
/* contact section ends */

.foot{
    background-color: var(--secondary-color);
}
.footer{
    display: flex;    
    justify-content: space-around;
    padding: 40px;
 
}

.footer h1{
    color: var(--text-color);
    padding-bottom: 20px;
}
.footer a{
    color: whitesmoke;
}
.footer li{
    padding-bottom: 10px;
    padding-right: 10px;
}
.footer .word{
    color: var(--text-color);
}
.footer .word h2{ 
    font-size: 5vmin;
    padding-bottom: 20px;
}
.footer .word h4{ 
    line-height: 30px;
}
.follow li{
    font-size: 5vmin;
}

hr{
    margin: 20px;
}
.copywrite{
    text-align: center;
    padding: 20px;
    color: var(--text-color);

}
/* mobile device */
@media only screen and (max-width:850px) {
    .menu-btn{
        display: block;
    }
    .nav-bar{
        padding: 0;
    }
    .logo{
        position: absolute;
        margin-top: 30px;
        margin-left: 30px;
    }
    .hero{
        height: 80vh;
        background-position: bottom;
    }

    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 80vh;
        justify-content: center;
        background: var(--tertiary-color);
        margin-top: -900px;
        transition: all 0.5s ease;
    }

    .mobile-menu{
        margin-top: 0px;
        border-bottom-left-radius: 30%;
    }

    .nav-links li{
        margin: 25px auto;
    }

    .why{
        margin: 50px auto;
        justify-content: center;
    }
    .why-1{
        display: block;
        padding: 40px auto;
    }
    
    .why-1 .text{
        padding: 0;
        text-align: center;
    }
    .why-1 img{
        padding-bottom: 10px;
        align-content: center;
    }

    .image{
        margin: 0 30px;
        padding-bottom: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }
    .pledge{
        margin: 50px;
        padding: 0;
    }
    .pledge-count{
        height: 430px;
        margin: 20px;
    }

    .how, .how-2{
        flex-direction: column;
        gap: 30px;
    }
    .how-1{
        width: 350px;
        height: 400px;
    }
    .how-1 img{
        width: 350px;
        height: 250px;
    }

    .contact-text{
        margin: 40px;
    }

    .contact-us{
        display: block;
    }
    
   .contact{
    height: 65vh;
    margin: 70px;
    padding-bottom: 20px;
    }

    .footer{
        display: block;
    }
    .footer h1{
        padding: 20px 0;
    }

    .copywrite{
        padding: 10px;
    }
}

